/* Page admin/structure/types */
.js body.is-page-structure-types td .dropbutton-multiple {
  margin-right: 0;
  padding-right: 0;
  width: fit-content;
}

.js body.is-page-structure-types td .dropbutton-multiple:not(.open) .secondary-action {
  display: block;
  opacity: 0;
  height: 0;
  border: 0;
  pointer-events: none;
}

.js body.is-page-structure-types td .dropbutton-widget {
  position: relative;
}

.js body.is-page-structure-types td.menu-label {
  width: 300px;
}

.js body.is-page-structure-types td.priority-medium + td {
  width: 1%;
}

/* Modal dialog Place block in page admin/structure/block */
.js table.block-add-table td .dropbutton-multiple {
  margin-right: 0;
  padding-right: 0;
}

.js table.block-add-table td .dropbutton-widget {
  position: relative;
}

/* Field group. */
.field-group-html-element--flex {
  display: flex;
  gap: 24px;
}

.field-group-html-element--columns-2 .fieldset-wrapper {
  column-count: 2;
}

.field-group-html-element--columns-3 .fieldset-wrapper {
  column-count: 3;
}

.field-group-html-element--columns-3 .fieldset-wrapper {
  column-count: 3;
}

.field-group-html-element--columns-4 .fieldset-wrapper {
  column-count: 4;
}

.field-group-html-element--columns-5 .fieldset-wrapper {
  column-count: 5;
}

.field-group-html-element--columns-6 .fieldset-wrapper {
  column-count: 6;
}

/* Page node. */
.layout-region-node-footer {
  position: sticky;
  bottom: 0;
  padding-bottom: 8px;
  background: #fff;
  z-index: 500;
}

@media (min-width: 1024px) {
  .layout-region-node-secondary {
    position: sticky;
    top: calc(var(--toolbar-top, 0px) + 8px);
  }
}
