[data-bacon-manage-display] {
  font-size: 0;
  position: absolute;
  z-index: 1000;
  display: flex;
  width: 24px;
  height: 24px;
  margin: 8px;
  pointer-events: none;
  opacity: 0;
  color: #000;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

[data-bacon-manage-display]::before {
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  content: '';
  border-radius: 50%;
  background: #fa5d56;
}

.contextual-region:hover > [data-bacon-manage-display] {
  pointer-events: auto;
  opacity: 1;
}

[data-bacon-manage-display^="view-"] {
  left: calc(24px + 8px);
}

[data-bacon-manage-display^="view-"]::before {
  background: #faf256;
}

.contextual[style] {
  top: 6px !important;
}
